.tools__wrapper {
    padding-bottom: 9rem;
    background-image: url("../../img/backgrounds/Bg.svg");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;
}

.tools__title {
    max-width: 46.2rem;
    margin-bottom: 7rem;
    margin: auto;
    text-align: center;
}

.tools__button {
    margin-top: 60px;
    text-align: center;
}

// Tool Block
.tool__icon {
    margin-top: 70px;
    margin-bottom: 30px;
}

.tool__title {
    margin: 0 0 16px;
}